.done{width: 300px;margin: 0 auto;}
.done p{text-align: center;}
.done .yuan{font-size: 16px;font-weight: 700;}
.done .close{font-size: 14px;font-weight: 200;}
.done img{display: block;margin: 0 auto;}